*{
   font-family:"Roboto", sans-serif;
   }
body{
   margin:0;
}
#bilder{
   text-align: center;
}
h2{
   margin:0;
}
.navbar{
      background-color:rgb(46, 46, 46);
      height: 50px;
}
.navlist{
   float: left;
}
.navlist li{
   display: inline-block;
   }
.navlist li a{
   color:cornsilk;
   margin: 0 8px;
   text-decoration: none;
}
.navlist li a:hover {
   color:blue
 
}
.text-center{
   text-align:center;
}
.welcome{
   background-image: url("https://www.wallpaperuse.com/wallp/3-37893_m.jpg");
    background-position: center;
    background-size: cover;
    padding: 200px;
    color:#fff;
    font-size: 26px;
}
.basic-section{
  padding:40px 50px;
  font-weight: 500;
}
.basic-section:nth-child(1){
   background-color:#3c3d3d;
color:#fff;
}
.form input{
   padding: 10px;
   border-radius: 20px;
   border: 1px solid #00ff7b;
   margin: 0 2px 0;
}
.btn{
   background-color: #00ff7b;
   color: rgb(255, 0, 0);
   font-weight: 700;
}
.text-special {
   color:blue;
}
.links{
   background-color: aquamarine;
}
.kursiv-words{
   color:rgb(255, 0, 0);
} 
.pic{
   margin:auto;
}
.footer{
   background-color:#393939;
   padding: 40px 100px;
   color: #fff;
}
.footer h3{
   letter-spacing:5px;
   font-weight:300;
}
.footer-links{
   margin:0;
   padding:0;
   list-style-type: none;
}
.footer-links li{
 padding : 5px 0;
}
.footer-links a {
   color:rgb(255, 255, 255);
   text-decoration: none;
   font-weight: 300;
   letter-spacing:5px;
}
.die-links{
   color:bisque;
}
