*{
   font-family:"Roboto", sans-serif;
   }
body{
   margin:0;
}
h2{
   margin:0;
}
.navbar{
      background-color:rgb(46, 46, 46);
      height: 50px;
}
.navlist{
   float: left;
}
.navlist li{
   display: inline-block;
   }
.navlist li a{
   color:cornsilk;
   margin: 0 8px;
   text-decoration: none;
}
.navlist li a:hover {
   color:blue
 
}
.text-center{
   text-align:center;
}
.welcome{
   background-image: url("https://www.wallpaperuse.com/wallp/3-37893_m.jpg");
    background-position: center;
    background-size: cover;
    padding: 200px;
    color: #fff;
    font-size: 26px;
}
.basic-section{
  padding:40px 50px;
  font-weight: 500;
}
.basic-section{
   background-color:#3c3d3d;
color:#fff;
}
.form input{
   padding: 10px;
   border-radius: 20px;
   border: 1px solid #00ff7b;
   margin: 0 2px 0;
}
.btn{
   background-color: #00ff7b;
   color: #fff;
   font-weight: 700;
}
.text-special {
   color:blue;
}
.kursiv-words{
   color:rgb(48, 48, 158);
}
.links{
   background-color:#3c3d3d); 
  } 