#text{
   color:#ae00ff;
   font-weight:800;
}
#test2 {
   color:darkblue;
   border:2px solid #345678;
}
p{
   font-size:19px;
}
h1 {
   color:crimson;
   font-size:50px;
   }
h2 {
   color:darkmagenta;
   font-size:30px;
}